th.group-header {
  text-align: center;
  vertical-align: middle;
  background: #EFEFEF;
}

#ot_filters_panel {
	z-index: 9999;
	cursor: move;
	box-shadow: 10px 10px 5px #888888;
}

#ot_filters_table {
	margin-bottom: 0px;
}

#haplo_filters_panel {
  z-index: 9999;
  cursor: move;
  box-shadow: 10px 10px 5px #888888;
}

#haplo_filters_table {
  margin-bottom: 0px;
}

.crispr_report_table {
	width : 100%;
}

.modal {
	display : none;
}

.selector_size_display{
  display: none;
  font-size: 13px;
  color: red;
  position: fixed;
}