[% META title = "About WTSI Genome Editing"; META tab_name = "About WTSI Genome Editing" %]

<div class="span12">
    <section id="wge">
        <h2>WGE</h2>
        <p class="lead">
            The WTSI Genome Editing Tool has been written by the High Throughput Gene Targeting group (Team87) at the Wellcome Trust Sanger Institute, and is a logical outgrowth of the genome editing tools we use to create knockouts for our high throughput knockout programs.
        </p>
        <p>
            WGE stands for WTSI Genome Editing.<br/>
            WTSI stands for Wellcome Trust Sanger Institute<br/>
        </p>
        <p>
            This tool should be considered in "beta" release, and is being continuously developed and extended. If you wish to contact us about it, please do so at <a href="mailto:wge@sanger.ac.uk">wge@sanger.ac.uk</a>
        </p>
    </section>
    <hr class="docs-separator" />
    <section id="disclaimer">
        <h2>Disclaimer</h2>
        <p>
            <h5>Please note that the application is currently in <b>beta</b>, so if you have any problems, please let us know.</h5>
            We assume no responsibility or liability for any loss or damage incurred as a result of any use of the information contained within or downloaded from this website.<br/>
        </p> 
    </section>
    <h4>This work was supported by a core grant from the Wellcome Trust.</h4>
</div>