[%- META title="Individual Crispr Report"; tab_name="Crispr off-target list" -%]
[% PROCESS utils.tt %]

[%# don't show the crispr table if there's no data %]
[% RETURN UNLESS crispr %]

[% crispr_grna = crispr_fwd_seq.substr(0, 20) %]
[% crispr_pam =  crispr_fwd_seq.substr(20, 3) %]

<style type="text/css">
.seq {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size:15px;
}
.mismatch {
    font-weight: bold;
    color: #FF0000;
}
</style>

<script type="text/javascript">
  //we use this for doing the mismatch counts
  var crispr_grna = "[% crispr_grna %]";
  var crispr_pam  = "[% crispr_pam %]"
  var species     = "[% species %]";
  var crispr_id   = "[% crispr.id %]";

  //split seq into grna and pam

  $(document).ready( function() {

  //function to handle bookmarking of crispr
    $("#bookmark").click(function (event){
      event.preventDefault();
      var b = document.getElementById("bookmark");
      var uri = "[% c.uri_for('/bookmark_crispr') %]";

      toggle_bookmark(b, uri, crispr_id, "Crispr");
    });

    var rows = new Array([], [], [], [], []);
    var total_erroneous = 0;
    $("#offtarget_table .ots").each(function() {
      var tr = $(this);

      //find sequence and get match data
      var seq = tr.children(".seq");
      var match = crispr_grna.match_str( seq.text().substr(0, 20) );

      //update the rows
      seq.html(match.str + " " + seq.text().substr(20, 3));
      tr.children(".mm").text(match.total);

      //exclude 4 because by removing everything else they'll already be sorted
      if ( match.total < 4 ) {
        rows[match.total].push(tr);
      }

      //quick hack to remove the handful of CC-GG matches
      //that aren't right. need to stop persisting them.
      if ( match.total > 5 ) {
        tr.hide();
        total_erroneous++;
      }
    });

    var t = $("#total_offs");
    if( t.text() != 'No data') { //only do this if there's data
      t.text( t.text() - total_erroneous );
    }

    //order everything by number of mismatches
    var tbl_top = $("#spacer_row");
    for ( var mm = rows.length-1; mm >= 0; mm-- ) {
      for ( var i = rows[mm].length-1; i >= 0; i-- ) {
        rows[mm][i].insertAfter( tbl_top );
      }
    }
  });


</script>

<div class="well">

  <table class="crispr_report_table">
  <tr>
    <td><h4>ID: [% crispr.id %]</h4></td>
    <td>
       <a class='btn btn-info pull-right' href="[% c.uri_for( '/genoverse_browse', { crispr_id => crispr.id, view_single => 1 }) %]">
          <i class="icon-eye-open icon-white"></i>
          View in Genome Browser
        </a>
    </td>
  <tr>
    <td></td>
    <td>
  [% IF c.user %]
   <button class="btn btn-info pull-right" id="bookmark">
   [% IF is_bookmarked %]
     Remove Bookmark
   [% ELSE %]
     Bookmark Crispr
   [% END %]
   </button>
  [% END %]
    </td>
  </tr>
  </table>

  <table>
    <tr>
      <td>Species</td>
      <td>[% species %]</td>
    </tr>
    <tr>
      <td>Location</td>
      <td class="location">[% ensembl_link(chr_name=crispr.chr_name, chr_start=crispr.chr_start, chr_end=crispr.chr_end) %]</td>
    </tr>
    <tr>
      <td>Sequence</td>
      <td>[% crispr.seq %]</td>
    </tr>
    <tr>
      <td>Strand</td>
      <td>[% display_strand(pam_right=crispr.pam_right) %]</td>
    </tr>
    <tr>
      <td>Off-target summary</td>
      <td>[% crispr.off_target_summary or 'No data' %]</td>
    </tr>
    <tr>
      <td>Total off-targets</td>
      <td id="total_offs">[% crispr.off_targets.size or 'No data' %]</td>
    </tr>
    <tr>
      <td>In exon</td>
      <td>[% crispr.exonic ? "Yes" : "No" %]</td>
    </tr>
    <tr>
      <td>In intron</td>
      <td>[% crispr.genic && ! crispr.exonic ? "Yes" : "No" %]</td>
    </tr>
  </table>
</div>


<div class="accordion" id="accordion">
  <div class="accordion-group well">
    <div class="accordion-heading">
      <p><strong>Found [% crispr_pairs.size %] Related Crispr Pairs</strong></p>
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <i class='icon-list'></i> Show Crispr Pairs
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <table  class="table table-bordered table-condensed">
          <tr>
    <th>ID</th>
    <th>Spacer</th>
    <th>Status</th>
    <th>Summary</th>
    <th></th>
    <th>ID</th>
    <th>Location</th>
    <th>Sequence</th>
    <th>Summary</th>
          </tr>
   [% FOREACH pair IN crispr_pairs %]
   <tr>
     <td rowspan="2"><a href="[% c.uri_for('/crispr_pair', pair.id) %]">[% pair.id %]</a></td>
     <td rowspan="2">[% pair.spacer %]</td>
     <td rowspan="2">[% pair.db_data.status %]</td>
     <td rowspan="2">[% pair.db_data.off_target_summary.remove('[{}"]').replace(':',': ').replace(',\s*', '<br>') %]</td>

      <td>Left</td>
      <td><a href="[% c.uri_for('/crispr', pair.left_crispr.id) %]">[% pair.left_crispr.id %]</a></td>
      <td class="location">[% ensembl_link(chr_name=pair.left_crispr.chr_name, chr_start=pair.left_crispr.chr_start, chr_end=pair.left_crispr.chr_end) %]</td>
      <td>[% pair.left_crispr.seq %]</td>
      <td>[% pair.left_crispr.off_target_summary.remove('[{}]').replace(', ','<br>') or 'No data' %]</td>

      </tr>
      <tr>

      <td>Right</td>
      <td><a href="[% c.uri_for('/crispr', pair.right_crispr.id) %]">[% pair.right_crispr.id %]</a></td>
      <td class="location">[% ensembl_link(chr_name=pair.right_crispr.chr_name, chr_start=pair.right_crispr.chr_start, chr_end=pair.right_crispr.chr_end) %]</td>
      <td>[% pair.right_crispr.seq %]</td>
      <td>[% pair.right_crispr.off_target_summary.remove('[{}]').replace(', ','<br>') or 'No data' %]</td>

   </tr>
   [% END %]
        </table>
      </div>
    </div>
  </div>
</div>

<h3>Off-Target Sites</h3>
<p><b>Note</b>: the row highlighted in blue is the original CRISPR</p>

[%# if we have no off targets to show hide the table %]
[%# RETURN UNLESS crispr.off_targets.size %]

<table class='table table-bordered table-hover' id='offtarget_table'>
  <tr>
    <th>Location</th>
    <th>Sequence</th>
    <th>Mismatches</th>
    <th>Strand</th>
    <th>Type</th>
  </tr>
  <tr>
    <td>Original CRISPR</td>
    <td class="seq">
      [%- crispr_grna _ " " _ crispr_pam -%]
      [%- IF ! crispr.pam_right -%]
        <span style="font-size:8px;vertical-align:sub;">(reversed)</span>
      [%- END -%]
    </td>
    <td></td>
    <td></td>
    <td>[% type(c=crispr) %]</td>
  </tr>
  <tr id="spacer_row"><td colspan="5"></td></tr>
[% FOREACH off_target IN crispr.off_targets %]
  <tr class="ots[% off_target.id == crispr.id ? " info" : "" %]">
    <td class="location">[% ensembl_link(chr_name=off_target.chr_name, chr_start=off_target.chr_start, chr_end=off_target.chr_end) %]</td>
    <td class="seq">[% off_target.seq %]</td>
    <td class="mm"></td>
    <td>[% display_strand(pam_right=off_target.pam_right) %]</td>
    <td>[% type(c=off_target) %]</td>
  </tr>
[% END %]
[% IF crispr.off_targets.size == 0 %]
  <tr>
    <td colspan="5" style="text-align: center">No off target data available for this crispr</td>
  </tr>
[% END %]
</table>
