[% META title="Crispr Pair Report" %]

<div class="page-header">
  <h1>Crispr Pair 
  <small>[% left_crispr.id %]:[% right_crispr.id %]</small>
  </h1>
  <h3>Spacer: [% spacer %]</h3>
</div>

<table class="table table-bordered">
  <tr>
    <th></th><th>Left Crispr</th><th>Right Crispr</th>
  </tr>
  <tr>
    <th>Crispr ID</th><th><a href="[% c.uri_for('/crispr_report',left_crispr.id) %]">[% left_crispr.id %]</a></th>
                      <th><a href="[% c.uri_for('/crispr_report',right_crispr.id) %]">[% right_crispr.id %]</th>
  </tr>  
  [%- FOR r IN display_items %]
  [%- SET title=r.0; SET accessor = r.1 -%]
  <tr>
    <th>[% title %]</th> <td>[% left_crispr.$accessor %]</td><td>[% right_crispr.$accessor %]</td>
  </tr>
  [%- END %]
</table>

[% IF crispr_pair %]

 [%# display off targets info here (or status if computation is in progress) %]

[% ELSE %]

 [%# display button to compute off target info? %]

[% END %]
