[% META title = "CRISPR finder help"; META tab_name = "help"; META header_text = "How to use the CRISPR finder" %]

[% PROCESS utils.tt %]

<style type="text/css">
section img {
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
}

.affix {
    position: fixed;
    top: 12px;
}

.docs-separator {
    margin: 40px 0 39px
}

</style>

<script type="text/javascript">
//need to wait for images to load or the scrollspy is broken
$(window).load(function() {
    //link the nav to the anchors
    $("body").scrollspy({target: ".bs-docs-sidebar", offset: 20});
    //$("body").scrollspy('refresh');
});
</script>

<div class="content">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
        <ul id="navigation" data-spy="affix" data-offset-top="180" class="nav nav-list bs-docs-sidenav">
            <li><a href="#disclaimer">Disclaimer</a></li>
            <li><a href="#usage">Webapp Usage</a></li>
            <li>
                <ul class="nav nav-list">
                    <li><a href="#table_view">Table view</a></li>
                    <li><a href="#genoverse_view">Genoverse view</a></li>
                    <li><a href="#bookmarks">Bookmarks</a></li>
                </ul>
            </li>
            <li><a href="#off_targets">Off targets</a></li>
            <li>
                <ul class="nav nav-list">
                    <li><a href="#summary_explanation">Summaries</a></li>
                    <li><a href="#ot_distributions">Distributions</a></li>
                    <li><a href="#individual_process">Individual</a></li>
                    <li><a href="#pair_process">Paired</a></li>
                </ul>
            </li>
            <li><a href="#statuses">Pair Status Descriptions</a></li>
            <li><a href="#source">Source Code</a></li>
            <li><a href="#refs">References</a></li>
        </ul>
    </div>
    <div class="span9">
        [% PROCESS disclaimer %]
        <hr class="docs-separator" />
        <section id="usage">
            <h2>How to use the webapp</h2>
            <p>
                Firstly, select a species:<br/>
                <img src="[% c.uri_for('/static/images/about/choose_species.png') %]" title="choose_species" />
            </p>
            <p>
                Then type a gene into the box, and select the gene you're interested in:<br/>
                <img src="[% c.uri_for('/static/images/about/choose_gene.png') %]" title="choose_gene" />
            </p>
            <p>
                A list of exons from the canonical transcript will appear as below. Select an exon from the list:<br/>
                <img src="[% c.uri_for('/static/images/about/choose_exon.png') %]" title="choose_exon" /><br/>
                <small>Note that only exons on canonical transcripts are available for now. This will be amended in a future update</small>
            </p>
            <p>
                There are two options for viewing the data (see below screenshot), a grid view with a single entry in the table per pair, or a genome browser similar to ensembl. If you would like to see individual CRISPRs and not just those belonging to pairs, you must choose the genome browser view.<br/>
                <img src="[% c.uri_for('/static/images/about/buttons.png') %]" title="option_buttons" /><br/>
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="table_view">
            <h2>Table view</h2>
            <p>
                If you have chosen the table view, wait for it to load:<br/>
                <img src="[% c.uri_for('/static/images/about/loading.png') %]" title="loading" /><br/>
                And you will be provided with a view like this:<br/>
                <img src="[% c.uri_for('/static/images/about/full_table.png') %]" title="table_view" /><br/>
            </p>
            <p>
                Here you can see all the data for a CRISPR pair, with full details of the CRISPRs it contains. There is also a button labelled 'Find off targets' which when pressed will run a background job that will compute all the off targets for that pair. It should take about 5 minutes but during periods of high usage it could take a lot longer.<br/>
                The link in the ID column will take you to a page where you can view individual CRISPR off targets if we have them:<br/>
            </p>
            <p>
                <img src="[% c.uri_for('/static/images/about/single_off_target_view.png') %]" title="single off target crispr view" /><br/>
                And the pair ID column link will take you to a similar page that will show you all paired off targets:<br/>
                <img src="[% c.uri_for('/static/images/about/paired_off_target_view.png') %]" title="paired off target crispr view" /><br/>
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="genoverse_view">
            <h2>Genome browser view</h2>
            <p>
                The genome browser view looks like this:</br>
                <img src="[% c.uri_for('/static/images/about/genoverse_view.png') %]" title="genoverse_view" /></br>
            </p>
            <p>
                Use the controls on the top right of the genome browser to move left and right or zoom in. You can also move left and right by dragging or scrolling with the mouse.<br/>
                <img src="[% c.uri_for('/static/images/about/genoverse_scroll.png') %]" title="genoverse_view" /></br>
            </p>
            <p>
                To select a region hold the shift key and drag over the region with the mouse. This will give you the option to submit all crispr and pairs in the region for <a href="#off_targets">off-target computation</a><br/>
                <img src="[% c.uri_for('/static/images/about/genoverse_select_region.png') %]" title="genoverse_view" /></br>
            </p>
            <p>
                We have computed <a href="#off_targets">off-target data</a> for all crisprs shown in colour. Off-targets have not yet been computed for crisprs shown in grey.<br/>

                Clicking on a pair will give you more details on that pair, including off-target counts if available:<br/>
                <img src="[% c.uri_for('/static/images/about/pair_data.png') %]" title="pair_data" /></br>
                This menu includes a link to the crispr pair report page, which will you give you all the data for that pair.<br/>
            </p>
            <p id="basic_filters">
                Use the controls at the bottom of the screen to display single crisprs:<br/>
                <img src="[% c.uri_for('/static/images/about/show_single_crisprs.png') %]" title="show_single_crisprs" /></br>
                This will cause a second track to show up on the browser, which can also be clicked to show off-target counts and report links for individual CRISPRs:<br/>
                <img src="[% c.uri_for('/static/images/about/genoverse_single_and_paired.png') %]" title="genoverse_single_and_paired" /></br>
            </p>
            <p>
                You can choose from the following "Crispr Filters" options:
             <ul>
                <li>Show All: all crisprs and pairs</li>
                <li>Exon Only: crisprs and pairs that are within an exon</li>
                <li>Exon Flanking Only: crisprs and pairs that lie either side of an exon (specify the maximum distance from the exon in "Flanking region" - default is 100 bp)</li>
             </ul>
                <img src="[% c.uri_for('/static/images/about/crispr_filters.png') %]" title="crispr_filters" /></br>
            </p>
            <p>
                When crispr pairs are displayed you can filter them so that only those with a spacer in the specified range are shown.
                <img src="[% c.uri_for('/static/images/about/spacer_filters.png') %]" title="spacer_filters" /></br>
            </p>
            <p id="ot_filters">
                Crisprs and crispr pairs can be filtered based on the number of <a href="#off_targets">off-targets</a> they have. Enter the maximum
                number of off-targets to allow in each of the mismatch categories. Crisprs that we have not computed off-targets for (those shown in grey) will not be removed by this filter.<br/>
                For example, to see only crisprs which have no off-targets with up to 4 mismatches enter the following then apply the filter.
                <img src="[% c.uri_for('/static/images/about/strict_ot_filters.png') %]" title="strict_ot_filters" /></br>
                There will always be 1 or more off-targets in the 0 mismatch (perfect match) category because the off-target computation identifies the original crispr site.<br/>
                For a more relaxed search increase the number of off-targets allowed and apply the filter again. Alternatively, use the "Best.." buttons to see crisprs with off-target counts in the <a href="#ot_distributions">10th, 25th or 50th percentile of our data</a>.
                <img src="[% c.uri_for('/static/images/about/relaxed_ot_filters.png') %]" title="relaxed_ot_filters" /></br>

                You can drag the filter menu anywhere on the page to make it easier to see the effect of the filtering in your region of interest.
            </p>
            <p>
                When this filter is applied to the paired crisprs the off-targets of the left and right crispr are counted independently. If either one of the individual crisprs in the pair does not meet the filter requirements then the pair is hidden.
                <img src="[% c.uri_for('/static/images/about/pair_ot_filters.png') %]" title="pair_ot_filters" /></br>
                Click on a pair and go to the "Crispr Pair Report" page to see details of <a href="#pair_process">paired off-targets</a>.

            </p>
        </section>
        <hr class="docs-separator" />
        <section id="bookmarks">
            <h2>Bookmarks</h2>
            <p>Login to WGE using your Google account in order to bookmark crisprs and crispr pairs<br/>
            <img src="[% c.uri_for('/static/images/about/login.png') %]" title="login" /></br>
            </p>
            <p>Add or remove bookmarks on the report pages for a crispr or crispr pair
            <img src="[% c.uri_for('/static/images/about/bookmark_crispr.png') %]" title="bookmark_crispr" /></br>
            <img src="[% c.uri_for('/static/images/about/bookmark_pair.png') %]" title="bookmark_pair" /></br>
            <img src="[% c.uri_for('/static/images/about/bookmark_done.png') %]" title="bookmark_done" /></br>
            </p>
            <p>View summary information about all your bookmarked items
            <img src="[% c.uri_for('/static/images/about/view_bookmarks.png') %]" title="view_bookmarks" /></br>
            </p>
            <p>When logged in your bookmarked crisprs and pairs will appear on additional tracks in the genoverse view
            <img src="[% c.uri_for('/static/images/about/genoverse_bookmarks.png') %]" title="genoverse_bookmarks" /></br>
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="off_targets">
            <h2>Off targets</h2>
            <p>
                An off target is a site in the genome that may be cut by a given CRISPR, where the site is not the original CRISPR site we intended to cut<a href="#refs"><sup>1</sup></a>.<br/> The site must contain a PAM site (NGG), and the sequence will be similar to the given CRISPR sgRNA.
            </p>
            <p>
                Cutting has been seen with up to 5 mismatches depending on their proximity to the PAM; mismatches closer to the PAM site are less tolerated than those further away.<br/>
                Cutting has also been seen at a reduced efficiency at NAG PAM sites, but we do not currently look at those when evaluating off targets; this option will be coming in a later version.
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="summary_explanation">
            <h2>Explanation of off target summaries</h2>
            <p id="summaries_individual">
                <h4>Individual</h4>
                The individual off target summaries are formatted like this:<br/>
                <pre>
0: 1
1: 0
2: 3
3: 26
4: 89
                </pre>
                The left column is the number of mismatches (this is the grouping)<br/>
                The right column is the number of off-targets we found with that many mismatches<br/><br/>
                <b>Note: We include the original CRISPR site in the off target summary, so you will <i>always</i> see 1 off target in the 0 mismatches column</b><br/><br/>
                So in the above example, this CRISPR has:<br/>
                <pre>
0 off targets with 0 mismatches (other than itself)
0 off targets with 1 mismatch
3 off targets with 2 mismatches
26 off targets with 3 mismatches
89 off targets with 4 mismatches
                </pre>
                For a total of 118 off targets<br/><br/>
                Our selection criteria for a 'good' CRISPR is:
                <pre>
0: 1
1: 0
2: 0
                </pre>
            </p>
            <p id="summaries_paired">
                <h4>Paired</h4>
                The paired off target summaries are formatted like this:
                <pre>
closest: 23
total_pairs: 3
max_distance: 1000
                </pre>
                <i>closest</i> tells you how close the nearest valid paired off target we found is. A value of 23 means we found a paired off target with a spacer of 23 bases, which is very close (the pair should be avoided if there's a better option.) If you see 'None' in this column it means we did not find a valid pair within the set distance. <br/><b>Note: this value will never be the original pair.</b><br/><br/>
                <i>total_pairs</i> tells you how many paired off targets we found. <br/><b>Note: we include the original pair in this total, so the minimum value you will see here is 1.</b><br/><br/>
                <i>max_distance</i> tells you what the maximum allowed spacer was for us to count a paired off target as valid.
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="ot_distributions">
            <h2>Off-target count distributions</h2>
            <p>
            For each crispr we have calculated the number of off-target sites with 0, 1, 2, 3 or 4 mismatches. The histograms below show the distribution of these off-target counts. These distributions are based on approximately 18 million crispr sites in exons and their surrounding regions (200bp either side of the exon) in the human genome.
            <table>
              <tr>
               <th>0 mismatch</th><th>1 mismatch</th><th>2 mismatch</th><th>3 mismatch</th><th>4 mismatch</th>
              </tr>
              <tr>
              [% FOREACH num IN [0,1,2,3,4] %]
               <td>
                <a href="[% c.uri_for('/static/images/distributions/human_' _ num _ 'mm.png') %]">
                 <img src="[% c.uri_for('/static/images/distributions/human_' _ num _ 'mm.png') %]">
                </a>
               </td>
              [% END %]
              </tr>
              <tr>
              [% FOREACH num IN [0,1,2,3,4] %]
               <td>
                10th percentile: [% ot_distributions.10.$num %]<br>
                25th percentile: [% ot_distributions.25.$num %]<br>
                50th percentile: [% ot_distributions.50.$num %]<br>
                75th percentile: [% ot_distributions.75.$num %]<br>
               </td>
              [% END %]
              </tr>
            </table>
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="individual_process">
            <h2>Calculating CRISPR off targets</h2>
            <p>
                To calculate off targets for CRISPRs we use an aligner called <a href="http://bio-bwa.sourceforge.net/">BWA</a><a href="#refs"><sup>2</sup></a>. It uses a burrows wheeler transform to quickly search for sites in the genome with similar sequence to the CRISPR.<br/>
            </p>
            <p>
                We run BWA with the following parameters<br/>
                <pre>
bwa aln -n 5 -o 0 -l 20 -k 4 -N -m 1000000000 ${GENOME} ${CRISPR_FQ_FILE}
                </pre>
                This will find all sites within the genome with up to 4 mismatches over the sgRNA. The problem is that bwa will find many sites that do have 4 mismatches over the sgRNA, but they do not have a valid PAM site. The Cas9 protein will not bind to a site that doesn't have a PAM site, so we can safely ignore some of the alignments we get from BWA.<br/>
            </p>
            <p>
                To do this we have to first retrieve the genomic sequence that was aligned; we do this using two tools from the BedTools<a href="#refs"><sup>3</sup></a> suite -- bamToBed followed by fastaFromBed.<br/>
                After we have determined which off targets we think are valid, we then store them in our crispr database, after which they become viewable through the webapp.<br/>
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="pair_process">
            <h2>Calculating off targets for CRISPR pairs</h2>
            <p>
                Paired CRISPRs can be used with a modified Cas9 protein to reduce off targets<a href="#refs"><sup>4</sup></a>. What we call a 'Paired CRISPR' is simply two CRISPRs in close proximity (within 50bp~), that are located on opposite strands. <br/>
            </p>
            <p>
                A nickase version of the Cas9 protein is used together with the two CRISPRs, meaning that we still get a break at the the desired site due to the two nicks being in close proximity, and (hopefully) all off targets are repaired without indels as there is only a single stranded break.<br/>
            </p>
            <p>
                This does not completely stop off target cutting; if off targets of either CRISPR in the pair happen to be within close proximity, you could potentially see an unwanted double stranded break. We call this a 'paired off target'.<br/><br/>
                We calculate any potential paired off targets in our application by checking if any two individual off targets are within 1kb of each other, and if so we store it in our database.
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="statuses">
            <h2>Explanation of CRISPR pair status column</h2>

            <p>
                When viewing CRISPR pairs you will notice that they usually have a status, for example:
                <img src="[% c.uri_for('/static/images/about/statuses.png') %]" title="crispr pair statuses" /></br>
                If you see a 'Find off targets' button then this pair has not yet been created, and if it does have a status you can see an explanation in the table below:<br/>
            </p>

            <table class="table">
                <tr>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <th>Bad crispr in pair</th>
                    <td>One (or both) of the CRISPRs involved in the pair is 'bad'; we define bad as a CRISPR with more than 2000 potential off targets. For bad CRISPRs we don't store their individual off targets, only the summary string.</td>
                </tr>
                <tr>
                    <th>Error</th>
                    <td>Something has gone wrong while attempting to find CRISPR off targets</td>
                </tr>
                <tr>
                    <th>Not started</th>
                    <td>No one has requested off target data for this CRISPR pair yet</td>
                </tr>
                <tr>
                    <th>Pending</th>
                    <td>The off target finding job is in the queue waiting to begin</td>
                </tr>
                <tr>
                    <th>Finding Individual off targets</th>
                    <td>The job has been started</td>
                </tr>
                <tr>
                    <th>Persisting individual off targets</th>
                    <td>Individual off targets have been found, and are now being inserted into the database</td>
                </tr>
                <tr>
                    <th>Calculating paired off targets</th>
                    <td>Individual off targets are in the database, so paired off targets are now being computed</td>
                </tr>
                <tr>
                    <th>Complete</th>
                    <td>Off target data for the individual crisprs is in the database, as well as paired data</td>
                </tr>
            </table>
        </section>
        <hr class="docs-separator" />
        <section id="source">
            <h2>Source code</h2>
            <p>
                Our web application is written in <a href="http://www.perl.org/">Perl</a> using the <a href="http://www.catalystframework.org/">Catalyst</a> framework. The application runs on a <a href="http://www.postgresql.org/">PostgreSQL</a> database.<br/>
                The code can be seen in our <a href="https://github.com/htgt/WGE">github repository</a><br/>
            </p>
            <p>
                [% PROCESS contact %]
            </p>
        </section>
        <hr class="docs-separator" />
        <section id="refs"><br/>
            <p>
                1. Hsu P.D. et al (2013) DNA targeting specificity of RNA-guided Cas9 nucleases. Nature Biotechnology 31, 827–832 doi:10.1038/nbt.2647<br/>
                2. Li H. and Durbin R. (2009) Fast and accurate short read alignment with Burrows-Wheeler Transform. Bioinformatics, 25:1754-60. [PMID: 19451168]<br/>
                3. Quinlan A.R. and Hall I.M., (2010) BEDTools: a flexible suite of utilities for comparing genomic features. Bioinformatics. 26, 6, pp. 841–842<br/>
                4. Ran. F.A. et al. (2013) Double Nicking by RNA-Guided CRISPR Cas9 for Enhanced Genome Editing Specificity. Cell 154, 1380–1389<br/>
                5. Shen, B. et al. (2014) Efficient genome modification by CRISPR-Cas9 nickase with minimal off-target effects. Nature Methods doi:10.1038/nmeth.2857<br/>
            </p>
        </section>
    </div>
  </div>
</div>