[% META title = "Gibson Designer"; META tab_name = "gibson"; META header_text = "Gibson Designer"; %]
[% PROCESS utils.tt %]

<div class="row">
  <div class="col-md-12">

    <div id="content">
      <img src="[% c.uri_for('/static/images/gibson_designer/vector_construction.png') %]" title="vector_construction" width="55%" align="right"/>
      <br/><br/>
      <p>
        The Gibson Designer will find the oligos in either Human or Mouse genomes that can be used to create targeting vectors by Gibson assembly. The Gibson Designer matches the vector design with CRISPR sites appropriate for the creation of exon deletions.
      </p>
      <br/>
      <h5>Construction of knockout vectors by Gibson assembly</h5>
      <p>Schematic diagram showing a strategy for the design of PCR primers and the construction knockout vectors. (<b>a</b>) For any exon of the mouse or human genome, the Gibson Designer searches for oligo sequences suitable for the PCR amplification of 5’ and 3’ homology arms from genomic DNA.  The program allows users to define the endpoints and length of the homology arms.  (<b>b</b>)  The 5’ and 3’ homology arms, appended with sequences matching the ends of a standard targeting cassette and plasmid backbone, are combined with the targeting cassette and plasmid backbone fragments in a 4-part Gibson reaction.</p>
    </div>
    <br/>
    [% IF c.user %]
    <form role="form" method="post" id="gibson_designer">
      <div class="control-group" id="species">
        <label class="control-label">Please select a species to continue.</label>
        <br/>
        <input type="submit" name="species" class="btn btn-primary" value="Human"/>
        &nbsp;&nbsp;&nbsp;
        <input type="submit" name="species" class="btn btn-primary" value="Mouse"/>
      </div>
    </form>
    [% ELSE %]
    <h4><a href="[% c.uri_for('/login') %]">Login with Google</a> to continue.</h4>
    [% END %]
  </div>
</div>
