[% META title = "WTSI Genome Editing"; META tab_name = "WGE" %]

<div class="content">
  <div class="row">
    <div class="span12">
        <h4>WTSI Genome Editing (WGE) is a website that provides tools to aid with genome editing of human and mouse genomes</h4><br/>
        <h5><a href="[% c.uri_for('/find_crisprs') %]">CRISPR Finder</a></h5>
        <p>
            The CRISPR Finder will show CRISPR sites (paired or single) in and around genes. You can ask the finder to score the pairs for potential off-target sites, and browse individual and paired CRISPR sites using the Genoverse genome browser tool. We also provide the ability to find CRISPRs in genomic sequence or by gRNA:
        </p>
        <br/>
    </div>
  </div>
  <div class="row">
    <div class="span2">
        <b>Find CRISPRs in our genome browser</b>:<br/>
        <a href="[% c.uri_for('/genoverse_browse',{view_single => 1, view_paired => 1, exon_id => 'ENSE00000939167', species_id => 'Grch38' }) %]">
         <img src="[% c.uri_for('/static/images/genoverse_view.png') %]" class="img-polaroid" height="160px" width="160px" title="crispr pairs for BRCA2 (ENSE00000939167) in genome browser"/>
        </a>
    </div>

    <div class="span2">
        <b>Find CRISPRs by gene using our table</b>:<br/>
        <a href="[% c.uri_for('/find_crisprs', {show_example => 1}) %]">
        <img id="table_view_example" src="[% c.uri_for('/static/images/table_view.png') %]" class="img-polaroid" height="160px" width="160px" title="crispr pairs for BRCA2 (ENSE00000939167) in table"/>
        </a>
    </div>

    <div class="span2">
        <b>Find CRISPRs by 20bp gRNA</b>:<br/>
        <a href="[% c.uri_for('/search_by_seq', {show_example => 1}) %]">
        <img id="grna_search_example" src="[% c.uri_for('/static/images/search_by_grna_view.png') %]" class="img-polaroid" height="160px" width="160px" title="CRISPR lookup by gRNA"/>
        </a>
    </div>

    <div class="span2">
        <b>Find CRISPRs in genomic sequence</b>:<br/>
        <a href="[% c.uri_for('/search_by_seq', {show_example => 1}) %]">
        <img id="seq_search_example" src="[% c.uri_for('/static/images/bulk_seq_search_view.png') %]" class="img-polaroid" height="160px" width="160px" title="Find CRISPRs in genomic sequence"/>
        </a>
    </div>

    <div class="span2">
        <b>Find off-targets by sequence</b>:<br/>
        <a href="[% c.uri_for('/find_off_targets_by_seq', {show_example => 1}) %]">
        <img id="seq_search_example" src="[% c.uri_for('/static/images/find_off_targets_view.png') %]" class="img-polaroid" height="160px" width="160px" title="Find off-targets for gRNA"/>
        </a>
    </div>

  </div>

  <div class="row">
    <div class="span12">
        <br>
        <h5><a href="[% c.uri_for('/gibson_designer') %]">Gibson Designer</a></h5>
        <p>
            The Gibson Designer will find the oligos in either <a href="[% c.uri_for('/gibson_design_gene_pick/Human') %]">Human</a> or <a href="[% c.uri_for('/gibson_design_gene_pick/Mouse') %]">Mouse</a> genomes that can be used to create targeting vectors by Gibson assembly. The Gibson Designer matches the vector design with CRISPR sites appropriate for the creation of exon deletions.
        </p><br/>
        <p>
            If you use this site in your research, please cite:<br/>
            <small>Bin Shen, Wensheng Zhang, Jun Zhang, Jiankui Zhou, Jianying Wang, Li Chen, Lu Wang, Alex Hodgkins,     Vivek Iyer, Xingxu Huang &amp; William C Skarnes (2014) Efficient genome modification by CRISPR-Cas9 nickase with minimal off-target effects. doi:10.1038/nmeth.2857</small>
        </p><br/>
        <a href="http://www.sanger.ac.uk">
            <img src="[% c.uri_for('/static/images/sanger-logo.png') %]" title="sanger logo" />
        </a>
    </div>
  </div>
</div>
