<legend>Crispr Off-target List</legend>


<script type="text/javascript">
  String.prototype.match_str = function(q) {
    if (q.length != this.length) return { "str": "error - size mismatch", "total": -1 };
  
    var result = "";
    var total = 0;
  
    for (var i = 0; i < this.length; i++) {
      if (this.charCodeAt(i) ^ q.charCodeAt(i)) {
          result += "<b>" + q.charAt(i) + "</b>";
          total++;
      }
      else {
          result += q.charAt(i)
      }
    }
  
    return { "str": result, "total": total };
  }
  var l_original_seq = "[% l_crispr_seq %]";
  var r_original_seq = "[% r_crispr_seq %]";
</script>


crispr target sequence: <tt style="font-size:15px">[% l_crispr_seq %]</tt> and <tt style="font-size:15px">[% r_crispr_seq %]</tt>
<br />
crispr off-target count is [% off_target_count %]
<br />

<table class='table table-bordered .table-hover' id='offtarget_table'>
  <tr>
    <th colspan="4">Left crispr</th>
    <th></th>
    <th colspan="4">Right crispr</th>
  </tr>
  <tr>
    <td></td>
    <td><tt style="font-size:15px">[% l_crispr_seq %]</tt></td>
    <td></td>
    <td></td>
    <td>[% spacer %]</td>
    <td></td>
    <td><tt style="font-size:15px">[% r_crispr_seq %]</tt></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <th>Location</th>
    <th>Sequence</th>
    <th>Mismatches</th>
    <th>pam right</th>
    <th>Spacer</th>
    <th>Location</th>
    <th>Sequence</th>
    <th>Mismatches</th>
    <th>pam right</th>
  </tr>
[% FOREACH crispr IN off_targets %]
  <tr>
    <td><a href="http://www.ensembl.org/[% crispr.species %]/psychic?q=[% crispr.l_location %]">[% crispr.l_location %]</a></td>
    <td><tt style="font-size:15px"><script>document.write(l_original_seq.match_str("[% crispr.l_seq %]").str);</script></tt></td>
    <td><script>document.write(l_original_seq.match_str("[% crispr.l_seq %]").total);</script></td>
    <td>[% crispr.l_pam_right %]</td>
    <td>[% crispr.spacer %]</td>
    <td><a href="http://www.ensembl.org/[% crispr.species %]/psychic?q=[% crispr.r_location %]">[% crispr.r_location %]</a></td>
    <td><tt style="font-size:15px"><script>document.write(r_original_seq.match_str("[% crispr.r_seq %]").str);</script></tt></td>
    <td><script>document.write(r_original_seq.match_str("[% crispr.r_seq %]").total);</script></td>
    <td>[% crispr.r_pam_right %]</td>
  </tr>
[% END %]
</table>



