<link href="[% c.uri_for( '/static/css/jquery.qtip.min.css' ) %]" rel="stylesheet">
<script type="text/javascript" src="[% c.uri_for( '/static/js/raphael-min.js' ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( '/static/js/jquery.qtip.min.js' ) %]"></script>

<!-- move below js file into WebApp::Common ? -->
<script type="text/javascript" src="[% c.uri_for( '/static/js/diagram.builder.js' ) %]"></script>

[% INCLUDE 'create_design/gibson_parameter_diagram.tt' %]

[%  gene_id_label = 'Gene ID'; %]


<form method="POST" action="[% c.uri_for( '/create_gibson_design' ) %]" class="well">
  [% INCLUDE 'create_design/common_gibson_form_parameters.tt'
    gene_id_label    = gene_id_label
    gene_id          = gene_id
    exon_id          = exon_id
    ensembl_gene_id  = ensembl_gene_id
    extra_parameters = ''
  %]
</form>