[% META title = "Create Custom Target Gibson Design"; META tab_name = "Gibson" %]

[% INCLUDE 'create_design/custom_target_gibson_parameter_diagram.tt'
  target_start = target.start
  target_end   = target.end
%]

[%  gene_id_label = 'Gene ID'; %]

<form method="POST" action="[% c.uri_for( '/create_custom_target_gibson_design' ) %]" class="well">
  [% INCLUDE 'create_design/diagram_placeholder.tt' %]
  [% INCLUDE 'create_design/custom_target_specific_parameters.tt'
    chromosome = target.chromosome
    strand     = target.strand
  %]
  [% INCLUDE 'create_design/common_gibson_form_parameters.tt'
    gene_id_label   = gene_id_label
    gene_id         = target.gene_id
    ensembl_gene_id = target.ensembl_gene_id
  %]
</form>
