[% META title="Browse Crisprs New" %]

<form class="form form-horizontal" action="[% c.uri_for( '/genoverse_browse_new/' ) %]">

</form>

<div class="container-fluid">
<button type="button" class="close" onclick='$("#alert_help_info").hide(); $(this).hide();'>&times;&nbsp;</button>
  <div class="alert alert-info" id="alert_help_info"><strong>Zoom:</strong> use "+" and "-" buttons. <strong>Move:</strong> drag or scroll with the mouse. <strong>Select region:</strong> hold shift key and drag with the mouse.<br /><strong>Copy crispr:</strong> right click crispr sequence to copy.
  <a href="[% c.uri_for('/crispr_help') _ '#genoverse_view' %]" target="_blank">
    <i class="glyphicon glyphicon-question-sign"></i> Help
  </a>

  </div>
  <div id="genoverse" style="margin: 0;" class="col-md-12"></div>

  <div class="row-fluid">
    <div class="well" id="silent_mutations" style="display:none"></div>
  </div>

  <div class="row-fluid">
  <div class="col-md-9">
  <form action="[% c.uri_for( '/genoverse_browse' ) %]" class="well">
    <input type="hidden" name="genome" value=[%genome%] />
    <input type="hidden" name="chromosome" value=[%chromosome%] />
    <input id="browse_start" type="hidden" name="browse_start" value=[%browse_start%] />
    <input id="browse_end" type="hidden" name="browse_end" value=[%browse_end%] />
    <input type="hidden" name="genes" value="[%genes%]" />
    [% IF design_id %]<input type="hidden" name="design_id" value=[%design_id%] />[% END %]


  <a href="[% c.uri_for('/crispr_help') _ '#basic_filters' %]" target="_blank" class="pull-right">
    <i class="glyphicon glyphicon-question-sign"></i> Help
  </a>
</form>


<script type="text/javascript" src="[% c.uri_for('/Genoverse/js/genoverse.combined.js' )%]"></script>
<script type="text/javascript" src="[% c.uri_for('/js/genoverse_custom_tracks.js'  )%]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/wge_genoverse_custom_tracks.js' )%]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/genoverse_variation_track.js' )%]"></script>
<script>
  var species = '[% species %]';
  ensembl_species = '[% species == "Grch38" ? "Human" : species %]'.toLowerCase();
  var ensembl_url = 'http://[% species == "Human" ? "grch37." : "" %]rest.ensembl.org';
  $(function () {
        new Genoverse({
          container : '#genoverse', // Where to inject Genoverse (css/jQuery selector)
          // If no genome supplied, it must have at least chromosomeSize, e.g.:
          // chromosomeSize : 249250621, // chromosome 1, human
          genome    : '[% String.lower() %]', // see js/genomes/
          chr       : '[% chromosome %]',
          start     : [% browse_start %] - 200,
          end       : [% browse_end %] + 200,
          plugins   : [ 'controlPanel', 'karyotype', 'trackControls', 'resizer', 'tooltips', 'fileDrop' ],
          tracks    : [
            Genoverse.Track.Scalebar,
            Genoverse.Track.extend({
              name       : 'Sequence',
              controller : Genoverse.Track.Controller.Sequence,
              model      : Genoverse.Track.Model.Sequence.Ensembl,
              view       : Genoverse.Track.View.Sequence,
              100000     : false,
              resizable  : 'auto'
            }),
            Genoverse.Track.Gene,
            Genoverse.Track.extend({
              name       : 'Protein',
              id         : 'Protein',
              url        : "[% c.uri_for('/api/translation_for_region') %]" + "?species="+ensembl_species+"&chr_name=__CHR__&chr_start=__START__&chr_end=__END__",
              controller : Genoverse.Track.Controller.Protein,
              model      : Genoverse.Track.Model.Protein,
              view       : Genoverse.Track.View.Protein,
              controls   : 'off',
              unsortable : false,
              threshold  : 5000,
              messages   : { threshold : 'Protein not displayed for regions larger than ' },
              autoheight : true
            }),
          ]
        });
      });
</script>
