[% META title="Browse Crisprs"; META tab_name = 'Designs' %]
<div class="page-header">
  <h1>[%- genes -%] 
  <small>[% IF design_id %]design: <strong>[%design_id%]</strong>[% END %]
  chr: [%- chromosome -%]
  assembly: [%- genome -%]</small>
  </h1>
</div>

<form action="[% c.uri_for( '/genoverse_browse' ) %]" class="well">
  <input type="hidden" name="genome" value=[%genome%] />
  <input type="hidden" name="chromosome" value=[%chromosome%] />
  <input type="hidden" name="browse_start" value=[%browse_start%] />
  <input type="hidden" name="browse_end" value=[%browse_end%] />
  <input type="hidden" name="genes" value=[%genes%] />
  [% IF design_id %]<input type="hidden" name="design_id" value=[%design_id%] />[% END %]

  <table class='table'>
   <thead>
    <tr>
     <th>Single Crisprs</th><th>Paired Crisprs</th>
     <th>[% UNLESS view_single OR view_paired %]<p class="muted">[% END %]Crispr Filters</th>
    </tr>
   </thead>
   <tbody>
    <tr>
      <td>
        <input id="show_single" type="radio" name="view_single" value="1" [% IF view_single %]checked[% END %]>
        Show</input>
        <br />
        <input id="hide_single" type="radio" name="view_single" value="0"  [% IF view_single == 0 %]checked[% END %]>
        Hide</input>
      </td>
      <td>
        <input id="show_paired" type="radio" name="view_paired" value="1" [% IF view_paired %]checked[% END %]>
        Show</input>
        <br />
        <input id="hide_paired" type="radio" name="view_paired" value="0" [% IF view_paired == 0 %]checked[% END %]>
        Hide</input>
      </td>
      <td>
       <fieldset [% UNLESS view_paired OR view_single %]disabled[% END %]>
        <input type="radio" name="crispr_filter" value="all" onclick="this.form.submit();" [% IF crispr_filter == 'all'  or not crispr_filter %]checked[% END %]>
        Show All</input>
        <br />
        <input type="radio" name="crispr_filter" value="exonic" onclick="this.form.submit();" [% IF crispr_filter == 'exonic' %]checked[% END %]>
        Exon Only</input>
        <br />
        <input type="radio" name="crispr_filter" value="exon_flanking" onclick="this.form.submit();" [% IF crispr_filter == 'exon_flanking' %]checked[% END %]>
        Exon Flanking Only</input>
        <br />
        Flanking region: <input type="number" name="flank_size" value="[% flank_size OR 100 %]" min="1" max="1000" keypress="this.form.submit()"/>
       </fieldset>
      </td>
    </tr>
  </tbody>
  </table>
</form>      


<script type="text/javascript">
  $(document).ready( function() {

    $("#hide_single").click(function (event){
      var crisprs = $.grep( $(window)[0].genoverse.tracks, function(n,i){ return n.name == "Crisprs" });
      $(window)[0].genoverse.removeTrack(crisprs[0]);
      var bookmarked = $.grep( $(window)[0].genoverse.tracks, function(n,i){ return n.name == "Bookmarked Crisprs" });
      if(bookmarked[0]){
        $(window)[0].genoverse.removeTrack(bookmarked[0]);
      }
    });
    
    $("#show_single").click(function (event){
      // Insert the tracks at position 3, just below genes track (assuming user has not closed gene and sequence tracks..)
      var crisprs = $.grep( $(window)[0].genoverse.tracksLibrary, function(n,i){ return n.name == "Crisprs" });
      var bookmarked = $.grep( $(window)[0].genoverse.tracksLibrary, function(n,i){ return n.name == "Bookmarked Crisprs" });
      if(bookmarked[0]){
       $(window)[0].genoverse.addTrack(
        Genoverse.Track.extend($.extend(true, {},bookmarked[0])),3);
      }
      $(window)[0].genoverse.addTrack(
        Genoverse.Track.extend($.extend(true, {},crisprs[0])),3);
    });

    $("#hide_paired").click(function (event){
      var crisprs = $.grep( $(window)[0].genoverse.tracks, function(n,i){ return n.name == "Crispr Pairs" });
      $(window)[0].genoverse.removeTrack(crisprs[0]);
      var bookmarked = $.grep( $(window)[0].genoverse.tracks, function(n,i){ return n.name == "Bookmarked Crispr Pairs" });
      if(bookmarked[0]){
        $(window)[0].genoverse.removeTrack(bookmarked[0]);
      }
    });
    
    $("#show_paired").click(function (event){
      // Insert the tracks at position 3, just below genes track (assuming user has not closed gene and sequence tracks..)
      var crisprs = $.grep( $(window)[0].genoverse.tracksLibrary, function(n,i){ return n.name == "Crispr Pairs" });
      var bookmarked = $.grep( $(window)[0].genoverse.tracksLibrary, function(n,i){ return n.name == "Bookmarked Crispr Pairs" });
      if(bookmarked[0]){
       $(window)[0].genoverse.addTrack(
        Genoverse.Track.extend($.extend(true, {},bookmarked[0])),3);
      }
      $(window)[0].genoverse.addTrack(
        Genoverse.Track.extend($.extend(true, {},crisprs[0])),3);
    });
  });  
</script>

    <script type="text/javascript" src="[% c.uri_for('/static/genoverse/js/genoverse.wtsi.js')%]">
       {
        container : '#genoverse', // Where to inject Genoverse (css/jQuery selector)
        // If no genome supplied, it must have at least chromosomeSize, e.g.:
        // chromosomeSize : 249250621, // chromosome 1, human
        [% USE String(genome) %]
        genome    : '[% String.lower() %]', // see js/genomes/
        chr       : '[% chromosome %]',
        start     : [% browse_start %] - 200,
        end       : [% browse_end %] + 200,
        plugins   : [ 'controlPanel', 'karyotype', 'trackControls', 'resizer', 'fileDrop' ],
        tracks    : [
          Genoverse.Track.Scalebar,
          Genoverse.Track.extend({
            name      : 'Sequence',
            [% IF genome == 'GRCm38' %]
            url       : 'http://beta.rest.ensembl.org/sequence/region/mouse/__CHR__:__START__-__END__?content-type=text/plain',
            [% END %]             
            model     : Genoverse.Track.Model.Sequence.Ensembl,
            view      : Genoverse.Track.View.Sequence,
            resizable : 'auto',
            100000    : false
          }),
          Genoverse.Track.extend({
            name   : 'Genes',
            //FIXME: should pass species to this template so we do not rely on assembly
            [% IF genome == 'GRCm38' %]
            url    : 'http://beta.rest.ensembl.org/feature/region/mouse/__CHR__:__START__-__END__?feature=gene;content-type=application/json',
            [% END %]
            height : 200,
            info   : 'Ensembl API genes & transcripts, see <a href="http://beta.rest.ensembl.org/" target="_blank">beta.rest.ensembl.org</a> for more details',
            
            // Different settings for different zoom level
            2000000: { // This one applies when > 2M base-pairs per screen
              labels : false
            },
            100000: { // more than 100K but less then 2M
              labels : true,
              model  : Genoverse.Track.Model.Gene.Ensembl,
              view   : Genoverse.Track.View.Gene.Ensembl
            },
            1: { // > 1 base-pair, but less then 100K
              labels : true,
              model  : Genoverse.Track.Model.Transcript.Ensembl,
              view   : Genoverse.Track.View.Transcript.Ensembl
            },
            populateMenu : function (feature) {            
              var atts = {
                ID     : feature.id,
                Name   : feature.external_name,
                Description : feature.description,
                Parent : feature.Parent,                
                Start  : feature.start,
                End    : feature.end,
                Strand : feature.strand,
                Type   : feature.feature_type,
                Biotype: feature.biotype,
                Source : feature.source,
                Logic  : feature.logic_name
              };
              return atts;
            }              
          }),          
          Genoverse.Track.extend({
            name      : 'Designs',
            url       : "[% c.uri_for('/api/designs_in_region')%]" + "?chr=__CHR__&start=__START__&end=__END__&assembly=[%genome%]" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            resizable : 'auto',
            height    : 150,

            populateMenu : function (feature) {            
              var atts = {
                ID     : feature.id,
                Type   : feature.type,
                Start  : feature.start,
                End    : feature.end,
                Strand : feature.strand
              };
              return atts;
            }            
          }),
[% IF c.user %]
          Genoverse.Track.extend({
            hidden    : [% IF view_single %] false [% ELSE %] true [% END %],
            name      : 'Bookmarked Crisprs',
            url       : "[% c.uri_for('/api/crisprs_in_region')%]" + "?chr=__CHR__&start=__START__&end=__END__&assembly=[%genome%]&design_id=[%design_id%]&crispr_filter=[%crispr_filter%]&flank_size=[%flank_size%]&bookmarked_only=1" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            autoHeight : true,
            height    : 150,
            labels    : false,
            threshold : 3000,
            messages  : { threshold : 'Crisprs not displayed for regions larger than ' },

            populateMenu : function (feature) {
              var report_link = "<a href='[%c.uri_for('/crispr')%]/" + feature.name 
                                + "' target='_blank'><font color='#00FFFF'>Crispr Report</font></a>";
              var atts = {
                Start  : feature.start,
                End    : feature.end,
                Name   : feature.name,
                URL : report_link
              };
              if (feature.ot_summary){
                atts['Off-Targets'] = feature.ot_summary;
              }
              else {
                atts['Off-Targets'] = 'not computed';
              }
              return atts;
            }

          }),
[% END %]

          Genoverse.Track.extend({
            hidden    : [% IF view_single %] false [% ELSE %] true [% END %],
            name      : 'Crisprs',
            url       : "[% c.uri_for('/api/crisprs_in_region')%]" + "?chr=__CHR__&start=__START__&end=__END__&assembly=[%genome%]&design_id=[%design_id%]&crispr_filter=[%crispr_filter%]&flank_size=[%flank_size%]" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            autoHeight : true,
            height    : 150,
            labels    : false,
            threshold : 3000,
            messages  : { threshold : 'Crisprs not displayed for regions larger than ' },

            populateMenu : function (feature) {
              var report_link = "<a href='[%c.uri_for('/crispr')%]/" + feature.name 
                                + "' target='_blank'><font color='#00FFFF'>Crispr Report</font></a>";
              var atts = {
                Start  : feature.start,
                End    : feature.end,
                Name   : feature.name,
                URL : report_link
              };
              if (feature.ot_summary){
                atts['Off-Targets'] = feature.ot_summary;
              }
              else {
                atts['Off-Targets'] = 'not computed';
              }
              return atts;
            }

          }),

[% IF c.user %]
          Genoverse.Track.extend({
            hidden    : [% IF view_paired %] false [% ELSE %] true [% END %],
            name      : 'Bookmarked Crispr Pairs',
            url       : "[% c.uri_for('/api/crispr_pairs_in_region')%]" + "?chr=__CHR__&start=__START__&end=__END__&assembly=[%genome%]&design_id=[%design_id%]&crispr_filter=[%crispr_filter%]&flank_size=[%flank_size%]&bookmarked_only=1" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            autoHeight : true,
            height    : 150,
            labels    : false,
            threshold : 3000,
            messages  : { threshold : 'Crispr pairs not displayed for regions larger than ' },

            populateMenu : function (feature) {
              var report_link = "<a href='[%c.uri_for('/crispr_pair')%]/" 
                                + feature.name 
                                + "?spacer=" + feature.spacer
                                + "' target='_blank'><font color='#00FFFF'>Crispr Pair Report</font></a>";              
              var atts = {
                Start  : feature.start,
                End    : feature.end,
                Spacer : feature.spacer,
                Name   : feature.name,
                URL    : report_link,
                'Off-Targets: Pairs' : feature.ot_summary || 'not computed',
                Left   : feature.left_ot_summary,
                Right  : feature.right_ot_summary
              };
              return atts;              
            }
          }),
[% END %]
          Genoverse.Track.extend({
            hidden    : [% IF view_paired %] false [% ELSE %] true [% END %],
            name      : 'Crispr Pairs',
            url       : "[% c.uri_for('/api/crispr_pairs_in_region')%]" + "?chr=__CHR__&start=__START__&end=__END__&assembly=[%genome%]&design_id=[%design_id%]&crispr_filter=[%crispr_filter%]&flank_size=[%flank_size%]" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            autoHeight : true,
            height    : 150,
            labels    : false,
            threshold : 3000,
            messages  : { threshold : 'Crispr pairs not displayed for regions larger than ' },

            populateMenu : function (feature) {
              var report_link = "<a href='[%c.uri_for('/crispr_pair')%]/" 
                                + feature.name 
                                + "?spacer=" + feature.spacer
                                + "' target='_blank'><font color='#00FFFF'>Crispr Pair Report</font></a>";              
              var atts = {
                Start  : feature.start,
                End    : feature.end,
                Spacer : feature.spacer,
                Name   : feature.name,
                URL    : report_link,
                'Off-Targets: Pairs' : feature.ot_summary || 'not computed',
                Left   : feature.left_ot_summary,
                Right  : feature.right_ot_summary
              };
              return atts;              
            }
          }),

          Genoverse.Track.Scaleline
        ]
      }
    </script>
    <div id="genoverse"></div>
