[% META title = "Gibson Design"; META tab_name = "Gibson" %]

<form method="POST" action="[% c.uri_for( '/gibson_design_exon_pick' ) %]" class="well">
  <fieldset>
    <legend>Gibson Design Gene Pick</legend>
    
    <input type="text" class="input-xxlarge" name="gene" placeholder="gene name">
    <span class="help-block">Valid search terms: HGNC IDs, MGI IDs, Ensembl Gene IDs and Marker Symbols.</span>

    <label><strong>Species</strong></label>
    <label class="radio">
      <input type="radio" name="species" value="Human" checked>
      Human
    </label>
    <label class="radio">
      <input type="radio" name="species" value="Mouse">
      Mouse
    </label>

    <label><strong>Show Exons</strong></label>
    <label class="radio">
      <input type="radio" name="show_exons" value="canonical" checked>
      Canonical Transcript Only
    </label>
    <label class="radio">
      <input type="radio" name="show_exons" value="all">
      All
    </label>

    <br>
    <input type="submit" name="action" class="btn btn-primary" value="Find Exons" />
  </fieldset>
</form>

<div class="well">
Alternatively, if you know the exact coordinates of your target click <a href="[% c.uri_for('create_custom_target_gibson_design') %]">here</a>.
</div>
