[% META title = "Design Attempts"; META tab_name = "Gibson" %]

<div class="page-header">
  <h1>
    Design Attempts
    <small>Last 50</small>
  </h1>
</div>

[% INCLUDE 'create_design/design_attempt_table.tt'
    show_species = 1
    design_attempt_url = '/design_attempt'
    view_design_url = '/view_gibson_design'
%]